<!DOCTYPE html>
<html lang="zh">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <meta name="renderer" content="webkit" />
		<meta name="screen-orientation" content="portrait" />
		<meta name="x5-orientation" content="portrait" />
		<title>主页</title>
		<link rel="stylesheet" type="text/css" href="/static/css/home.css"/>
	</head>

	<body >
		<div class="top">
			<ul class="navbar clearfifx">
                <li><a href=# style="color: #FFFFFF">欢迎{{ username }}！</a></li>>
				<li><a href="/users/que" style="color: #FFFFFF">问答</a></li>
				<li><a href="/users/scenic?sid=1&pid={{ username }}" style="color: #FFFFFF">景点展示</a></li>
				<li><a href="/users/spot_recommendation_input" style="color: #FFFFFF">景点推荐</a></li>
				<li><a href="/users/route_request/" style="color: #FFFFFF">路线规划</a></li>
				<li><a href="/users/messagewall/" style="color: #FFFFFF">留言板</a></li>
				<li><a href="/users/login" style="color: #FFFFFF">退出</a></li>
			</ul>
			<p class="fr"><img src="/static/images/newtel.png"/>15317615716</p>
		</div>

	</body>
    <script src="/static/js/jquery-3.3.1.min.js"></script>
	<script src="/static/js/SuperSlide.2.1.3.js"></script>
	<script src="/static/js/more.js"></script>
	     <script src="/static/js/tem/main.js"></script>
        <script src="/static/js/tem/echarts.js"></script>
        <script src="/static/js/tem/template.js"></script>
</html>                                                                            
