<!DOCTYPE html>
<html lang="Zh">
    <head>
        <!--====== Required meta tags ======-->
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="Pragma" content="no-cache" />
        <link rel="stylesheet" href="/static/css/spot_map_test.css">
        <!--====== Title ======-->
        <title>中共一大会址</title>
    <style>
        body {
            text-align: center;
            background-color: burlywood;
        }

        .postdiv input {
            cursor: pointer;
            color: white;
            font-size: 26px;
            border: none;
            border-radius: 0.4em;
            width: 280px;
            height: 45px;
            background-color:#4CAF50;
        }
        #tu img{
            max-width: 100%;
            max-height:100%;
            /*width:auto;
            height: auto;*/
        }
        #title div{
            font-size: 26px;
            font-family: "宋体";
            color: black;
        }

    </style>
        <!--====== Favicon Icon ======-->
        <link rel="stylesheet" type="text/css" href="/static/css/spot_test.css">
		<link rel="stylesheet" type="text/css" href="/static/css/ourself.css">

        <!--====== Bootstrap css ======-->
        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
        <!--====== Fontawesome css ======-->
        <link rel="stylesheet" href="/static/fonts/fontawesome/css/all.min.css">
        <!--====== Fontawesome css ======-->
        <link rel="stylesheet" href="/static/fonts/flaticon/flaticon.css">
        <!--====== Magnific Popup css ======-->
        <link rel="stylesheet" href="/static/css/magnific-popup.css">
        <!--====== Slick css ======-->
        <link rel="stylesheet" href="/static/css/slick.css">
        <!--====== Default css ======-->
        <link rel="stylesheet" href="/static/css/default.css">
        <!--====== Style css ======-->
        <link rel="stylesheet" href="/static/css/style.css">


    </head>
    <h3>中共一大会址</h3>
    <body>
        <!--====== Start Header ======-->
        <div class="preloader">
            <div class="lds-ellipsis">
                <!--<span></span>-->
                <span></span>
                <span></span>
            </div>
        </div>
        <!--====== End Header ======-->

        <!--====== Start Header ======-->
        <header class="header-area header-area-v1" style="background-color:#1b3255" >

            <div class="header-navigation" >
                <div class="container" >
                    <div class="nav-container d-flex align-items-center justify-content-between">
                        <!-- site logo -->

                        <div class="nav-menu">
                            <!-- Navbar Close Icon -->
                            <div class="navbar-close">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>
                            <!-- nav-menu -->
                            <nav class="main-menu">
                                <ul>
                                    <li class="menu-item" ><a href="/users/home" style="color: #FFFFFF">主页</a></li>
                                    <li class="menu-item" ><a href="/users/spot_test" style="color: #FFFFFF">上一页</a></li>
                                    <li class="menu-item" ><a href="/users/spot_01" style="color: #FFFFFF">下一页</a></li>
                                    <li class="menu-item" ><a href="https://360.zgyd1921.com/project/57/index1.html?content=0&&startscene=0&startactions=lookat(-704.38,19.42,130,0,0);" style="color: #FFFFFF" target="_blank">云参观链接</a></li>
                                    <!--li class="menu-item" ><p style="color: #FFFFFF">第2页共10页</p></li-->
                                </ul>
                            </nav>

                        </div>


                </div>
                </div>
            </div>
        </header>
   	<div style="padding-top:0px;height:10px;background-color:#f6f6f6;">
		<div style="display:inline;width:5%;float:left;color:white;height:100%">&nbsp</div>
        <div class="mainbody">
            <div class="body2-1">

                    <div class="body2-1-front" >子景点关系图</div>
                     <div class="point panel">
                        <div class="inner">
                            <div class="map">

                                <div class="chart">
                                    <div class="geo" id="map1"></div>
                                </div>
                            </div>
                        </div>
                     </div>

        <div style="margin-top: 3cm">景点简介：</div>
        <div>中国共产党第一次全国代表大会纪念馆（简称：中共一大纪念馆）是国家一级博物馆、全国爱国主义教育示范基地、全国廉政教育基地、国家国防教育基地。中共一大纪念馆地处上海市黄浦区，由中国共产党第一次全国代表大会会址（简称：中共一大会址）、宣誓大厅、新建展馆等部分组成。
        </div>
                <br>
         <div >景点打分：</div>
         <form method="POST" >
            <select name="rating">
            <option value=5 selected="selected">5</option>
            <option value=4>4</option>
            <option value=3 >3</option>
            <option value=2>2</option>
            <option value=1>1</option>
            </select>

            <input type="submit">
         </form>
                  <!--div> <p> 推荐景点：{{ s0 }} {{ s1 }} {{ s2 }}</p> </div-->


    </div>

                <div class="body2-2">
                    <div id="tu" style="width:380px;height:300px;float:left">
                        <img src="/static/images/scenic_spot/CCP/01.jpg" alt="">
                    </div>
                </div>

                <div class="body2-2">
                    <div id="tu" style="width:380px;height:300px;float:left">
                        <img src="/static/images/scenic_spot/CCP/02.jpg" alt="">
                    </div>
                </div>






            </div>

            </div>

        <!--====== back-to-top ======-->
        <a href="#" class="back-to-top" ><i class="fas fa-angle-up"></i></a>
        <!--====== Jquery js ======-->
        <script src="/static/js/vendor/modernizr-3.6.0.min.js"></script>
        <script src="/static/js/vendor/jquery-1.12.4.min.js"></script>
        <!--====== Bootstrap js ======-->
        <script src="/static/js/bootstrap.min.js"></script>
        <script src="/static/js/popper.min.js"></script>
        <!--====== Slick js ======-->
        <script src="/static/js/slick.min.js"></script>
        <!--====== Counterup js ======-->
        <script src="/static/js/jquery.counterup.min.js"></script>
        <!--====== Waypoints js ======-->
        <script src="/static/js/waypoints.min.js"></script>
        <!--====== Magnific Popup js ======-->
        <script src="/static/js/jquery.magnific-popup.min.js"></script>
        <!--====== Isotope js ======-->
        <script src="/static/js/isotope.pkgd.min.js"></script>
        <!--====== Imagesloaded js ======-->
        <script src="/static/js/imagesloaded.pkgd.min.js"></script>
        <!--====== WoW js ======-->
        <script src="/static/js/wow.min.js"></script>
        <!--====== Main js ======-->
        <script src="/static/js/main.js"></script>
        <script src="/static/js/echarts.js"></script>
        <!--script src="/static/js/spot/spot_01/price_01.js"></script-->
        <script src="/static/js/spot/spot_02/map_02.js"></script>
        <!--script src="/static/js/spot/spot_01/pie_01.js"></script-->
        {% if flag %}<script>window.alert("您的评分已提交！")</script>{% endif %}
    </body>
</html>